.product-view-page {
    .product-gallery-description {
        margin-bottom: 40px;
    }
    .product-name {
        color: $header-color;
        font-size: 26px;
        font-family: "Poppins-Bold";
        margin-bottom: 14px;
    }
}
