.product-description {
    .price-title {
        color: $desc-category;
        font-size: 20px;
        font-family: "Poppins-Bold";
        margin-bottom: 3px;
    }
    .discounted-price  {
        color: $brand-color;
        font-size: 30px;
        font-family: "Poppins-Bold";
        display: block;
        margin-bottom: 6px;
    }
    .normal-price {
        font-family: "Poppins-SemiBold";
        color: #C7C7C7;
        font-size: 18px;
        display: block;
        text-decoration-line: line-through;
        margin-bottom: 16px;
    }
    .product-indexes {
        font-size: 14px;
        line-height: 154.5%;
        margin-bottom: 23px;
        .product-indexes-title {
            font-family: "Poppins-Bold";
        }
        span {
            display: block;
        }
    }
}