.products-list {
    .item {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        display: block;
        transition: box-shadow ease-in-out 0.3s;
        padding: 33px 15px 26px;
        text-align: center;
        margin-bottom: 30px;
        .img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 17px;
            img {
                max-height: 145px;
            }
        }
        h3 {
            font-family: "Poppins-SemiBold";
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            margin-bottom: 9px;
        }
        .price {
            font-size: 20px;
            font-family: "Poppins-SemiBold";
            color: $brand-color;
        }
        .netto {
            font-family: "Poppins-SemiBold";
            font-size: 14px;
            color: $brand-color;
            text-transform: uppercase;
        }
        .discount {
            font-family: "Poppins-SemiBold";
            text-decoration-line: line-through;
            font-size: 17px;
            color: #BCBBBB;
            display: block;
        }
        .btn {
            margin-top: 11px;
        }
        &:hover {
            h3 {
                color: initial;
            }
            box-shadow: $box-shadow-hover;
            .btn {
                @include btn-hover;
            }
        }
    }
}