.contact-page {
    padding-bottom: 80px;
    .header {
        margin-bottom: 90px;
    }
}

@media(max-width: 1200px) {
    .contact-page {
        padding-bottom: 50px;
        .header {
            margin-bottom: 50px;
        }
    }  
}