.home {
    padding-bottom: 80px;
    .home-contact-form {
        .header {
            margin-bottom: 60px;
        }
    }
}

@media(max-width: 991px) {
    .home {
        padding-bottom: 30px;
        .home-contact-form {
            .header {
            }
        }
    }
}

// @media(max-width: 767px) {
//     .home {
//         padding-bottom: 40px;
//         .home-contact-form {
//             .header {
//             }
//         }
//     }
// }

@media(max-width: 480px) {
    .home {
        padding-bottom: 20px;
        .home-contact-form {
            .header {
                margin-bottom: 43px;
            }
        }
    }
    
}