@mixin btn-hover {
    background-color: white;
    color: $brand-color;
    border: 3px solid $brand-color;
}
@mixin delete-circle {
    ul {
        padding-left: 0;
        li {
            text-indent: 0px;
            &:before {
                display: none;
            }
        }
    }
}