.btn {
    border-radius: 52px;
    background-color: $brand-color;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    border: 3px solid $brand-color;
    outline: none;
    cursor: pointer;
    &.btn-big {
        font-size: 16px;
        min-width: 160px;
        display: inline-block;
        padding: 9px;
        transition: all ease-in 0.2s;
        &:hover {
            @include btn-hover;
        }
    }
    &.btn-small {
        font-size: 14px;
        display: block;
        padding: 7px;
        transition: all linear 0.2s;

    }

  }
