$brand-color: #ff3a24;
$header-color: #465064;
$text-color: #A4A4A4;
$footer-bg: #1C2250;
$menu: #2C2C2C;
$input: #E0E0E0;
$label: #757575;
$dark-text: #404040;
$category: #1D1D1D;
$subcategory: #232323;
$desc-category: #424242;
$price: #000000;
$tab: #595959;
$discount: #BCBBBB;

$box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.05);
$box-shadow-hover: 2px 2px 31px rgba(0, 0, 0, 0.3);

$border-radius: 13px;

$border-radius-sm: 5px;


$weight-menu: 500;

$font-name: "Poppins";
