.tech-data-tab {
    padding: 0 15px 15px;
    .table {
        margin-bottom: 15px;
        .table-header {
            font-size: 15px;
            font-family: "Poppins-Bold";
            padding: 30px 15px 25px;
        }
        .table-row  {
            &:nth-child(even) {
                background-color: #F4F4F4;
            }
        }
        .table-row {
            display: flex;
            color: $tab;
            font-size: 14px;
            .table-subheader {
                text-transform: uppercase;
                padding: 19px 15px;
                width: 30%;
                display: flex;
                align-items: center;
            }
            .table-paragraph {
                padding: 19px 15px;
                width: 70%;
                display: flex;
                align-items: center;
            }
        }
    }
    img {
        margin: 0 15px 15px;
    }
}

@media(max-width: 767px) {
    .tech-data-tab {
        padding: 0 0px 15px;
        .table {
            .table-header {
                padding: 25px 15px;
            }
            .table-row  {
                font-size: 12px;
                &:nth-child(even) {
                }
            }
            .table-row {
                .table-subheader {
                    text-transform: none;
                    font-weight: bold;
                    padding: 10px 10px 10px 15px;
                    width: 50%;
                }
                .table-paragraph {
                    width: 50%;
                }
            }
        }
        img {
        }
    }

}