.baner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 10px 50px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
    h2 {
        font-family: 'Poppins-Bold';
        @include fluid-type(320px,1920px,14px,24px);
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.08em;
    }
    h1 {
        font-family: 'Poppins-Bold';
        @include fluid-type(320px,1920px,19px,65px);
        color: white;
        letter-spacing: 0.07em;
        font-weight: bold;
    } 
}

@media (max-width: 1200px) {
    .baner {
        padding: 20px 15px
    }
}
