.cookieConsentContainer {
	z-index: 999;
	width: 100%;
    background-color: rgba(28,34,80,.9);
	overflow: hidden;
	position: fixed;
    bottom: 0px;
	right: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px 10px;
}

.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;

} .cookieConsentContainer .cookieDesc a {
    color: $brand-color;
    font-weight: bold;
    margin-left: 4px;
    display: inline-block;
}
.cookieConsentContainer .cookieButton a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
    transition: background 0.3s;
    background: #ff3a24;
    border-radius: 25px;
    letter-spacing: .085em;
    padding: 7px 15px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
}
