// #map {
//     height: 500px;
//     margin-bottom: 50px;
//     #google-maps-window {
//         font-family: "Poppins-Regular";
//         h1 {
//           margin-bottom: 4px;
//           color: $brand-color;
//           font-size: 16px;
//         }
//         p {
//           font-size: 13px;
//           line-height: 28px;
//         }
//     }
//   }

#mapid {
  height: 500px;
  margin-bottom: 50px;
  .leaflet-pane {
    z-index: 1;
  }
  #maps-window {
    font-family: "Poppins-Regular";
    h1 {
      margin-bottom: 4px;
      color: $brand-color;
      font-size: 16px;
    }
    p {
      font-size: 13px;
      line-height: 28px;
      margin: 0;
    }
  }
  // .header {
  //   margin-bottom: 100px;
  // }
}

@media (max-width: 768px) {
  #mapid {
    height: 400px;
    margin-bottom: 30px;
    #maps-window {
      .leaflet-popup-content {
        margin: 10px 10px;
      }
      h1 {
      }
      p {
        font-size: 12px;
        line-height: 23px;
      }
    }
  }
}

@media(max-width: 640px) {
  #mapid {
    margin-top: 50px;
  }
}