.metismenu {
  margin-bottom: 50px;
  padding-left: 0;
  ul {
    padding-left: 0;
  }
  > li > a {
    margin-bottom: 10px;
    display: block;
    > h1 {
      font-family: Poppins-SemiBold;
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      cursor: pointer;
      color: $category;
      position: relative;
      padding-right: 20px;
    }
  }
  li {
    position: relative;
    vertical-align: sub;
    clear: both;
    overflow: auto;
    text-indent: 0;
    &:before {
      display: none;
    }
    a {
      &:hover * {
        color: $brand-color;
      }
    }
  }
  
  .list {
    margin-bottom: 13px;
    .items {
      h1 {
        padding: 10px;
        font-size: 13px;
      }
    }
  }
}